<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/CSS">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constraint Satisfaction Problem</title>
</head>

<body>
    <h1>Constraint Satisfaction Problem</h1>
    <h2> Edina • Sarah • Zahra • Inez </h2>
    <p> Intelligent Systems 2020 </p>
    <form action="sample" method="post" style="margin-top: 20px">
        <h1>Input your desired graph:</h1>
        <input placeholder="how many vertices?" type="text" name="numOfVertices" required="">
        <input placeholder="how many edges?" type="text" name="numOfEdges" required="">
        <h2>Input your desired colors:</h2>
        <input placeholder="how many colors?" type="text" name="numOfColors" required="">
        <input placeholder="colors" type="text" name="colors" required="">
        <button>Submit</button>
    </form>
</body>
</html>

