body {
    background-color: black;
    color: white;
}

h1 {
    color: white;
    font-family: Montserrat;
    text-align: center;
    margin-top: 300px;
}

h2 {
    text-align: center;
    font-size: 18px;
    font-family: Lato;
}

p {
    text-align: center;
    font-size: 15px;
    font-family: Lato;
}